#root {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.table td,
.table th {
  padding: 0.75rem;
}

.priority-low td, .priority-low a {
  color: #000;
}

.priority-middle td, .priority-middle a {
  color: #0d6efd;
}

.priority-high td, .priority-high a {
  color: #dc3545;
}

.priority-hhigh td, .priority-hhigh a {
  color: #dc3545;
  font-weight: bold;
}

.status-drop td, .status-drop a {
  color: #6c757d !important;
  font-weight: normal !important;
}
.status-done td, .status-done a {
  color: #198754 !important;
  font-weight: normal !important;
}


.modal-xxl {
  --bs-modal-width: 1380px;
}

.stickythead {
  position: sticky;
  top: 0;
  z-index: 10;
}

a.text-dtext-decoration-underline{
  cursor :pointer;
}

.modalshow {
  display: block;
}