<div class="container-fluid">
  <hr />
  <p class="text-center">aoktian@foxmail.com</p>
  <p class="text-center">
      <a href="https://beian.miit.gov.cn/">甜蜜匠</a>
  </p>
</div>

<div class="modal" id="dialog" tabindex="-1" aria-hidden="true"></div>


<script src="/static/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/jquery-3.7.1.min.js"></script>
<script src="/static/toast/jquery.toast.js"></script>
<script src="/static/toast/jquery-confirm.min.js"></script>


<script src="/static/summernote-0.9.0-dist/summernote-bs5.min.js"></script>
<script src="/static/summernote-0.9.0-dist/lang/summernote-zh-CN.min.js"></script>

<script src="/static/worktime.js?=t=9"></script>

