<div class="modal" id="modal-status-tips" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">状态使用说明</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

<div class="alert alert-light">
<ol>
<li>一个任务有三个不同职责的角色：负责人、验收人、测试人。职责属性是显性的，明确的。</li>
<li>状态需要配合职责角色共同使用。同一个状态，对不同职责的人，表达的意义不一样。比如“已解决”，对于负责人来说，是他已经完成了这个任务；对于验收人来说，他可以进行验收了。</li>
<li>职责角色可以转移。比如负责人可以从A转到B。</li>
<li>任务管理是权责的事情。权责是隐性的，权责是线下确定的。比如A是主程、或者项目经理，负责分配任务。那么他就具备了分配任务的权责。</li>
<li>权责可以配合状态使用。</li>
<li>权责可以配合虚拟角色进行使用。比如，A既是测试主管，又是测试人。测试主管是权责，测试人是职责。那么当他是测试主管的时候，需要分配任务。这个时候，就可以使用虚拟角色。我们可以创建一个叫做“测试接单”的虚拟角色，将任务变更为待测试状态时，同时变更测试人为“测试接单”，这样测试主管就可以筛选“测试接单”的单子，进行分配了，自然而然的就可以把任务分给自己来进行测试，也可以分给别人进行测试。</li>
</ol>
</div>

<table class="table table-striped table-bordered mt-3 text-center align-middle ">
<thead class="table-light">
    <tr>
        <th width="100">区段</th>
        <th width="100">ID</th>
        <th width="100">名称</th>
        <th class="text-start">说明</th>
    </tr>
</thead>
<tbody>
<tr>
    <th>异常区</th>
    <td>100</td>
    <td>未通过</td>
    <td class="text-start">
        <p>总之就是有问题，需要执行人修正。</p>
        <p>排在最首位，提醒优先处理。</p>
    </td>
</tr>

<tr>
    <th>执行区</th>
    <td>200</td>
    <td>正在做</td>
    <td class="text-start">
<p>执行人的自我标记，这个任务我正在做。其实涵盖了方案中、研发中、画图中、动画中、数值中等等正在做的事情。</p>
<p>1. 任务是需要体现工作量的。其他人可以知道你在干这件事。</p>
<p>2. 如果一个任务需要多部门，多工种配合，那么需要拆分单子。</p>
<p>3. 【正在做】配合执行部门、执行人后可以表达出不同的意思。如果是设计部门正在做，那么正在做就是正在做设计；如果是程序员正在做，那么就是正在写代码。</p>
</td>
</tr>
<tr>
    <td></td>
    <td>220</td>
    <td>挂起</td>
    <td class="text-start">
        <p>暂时不能进行下去了</p>
        <p>依赖其他任务的完成情况。比如，需要等待策划设计，需要等待美术出图等等
        重点是已经行动了。
已经行动了一部分，又暂时不能行动，先让他挂起。
也是一种自我标记，自我管理。</p>
    </td>
</tr>
<tr>
    <td></td>
    <td>230</td>
    <td>待定</td>
    <td class="text-start">
        <p>待定也是一种完成任务的形式。</p>
        <p>和挂起很像，但是不一样。如果一直处于待定状态，说明已经不需要处理了。下一步就可以转入完成状态了。</p>
    </td>
</tr>

<tr>
    <th>初始区</th>
    <td>210</td>
    <td>新任务</td>
    <td class="text-start">
        <p>单子新建，或者是单子的初始状态。</p>
        给你的任务都是需要去完成的。
    </td>
</tr>

<tr>
    <th>交付区</th>
    <td>290</td>
    <td>已解决</td>
    <td class="text-start">
        <p>就是我自己解决了，完成了。比如程序需要自测完成。美术需要自我观感OK。等等。</p>
        <p>此状态有多种用途</p>
<p>1. 留置，留给自己看。</p>
<p>2. 自我管理。</p>
<p>3. 无需验收、测试的任务。</p>
<p>4. 如果任务有验收人，那么当任务状态是已解决时，验收人就应该进行验收了。</p>
<p>5. 验收人和测试人都可以关注此状态。</p>
<p>等等。</p>
<p>下一个状态是什么取决于任务本身。有多个多种因素影响。比如，我想等其他任务完成后再提测；比如，此任务不需要验收、测试，下一步直接转为完成。等等。</p>
</td>
</tr>
<tr>
    <td></td>
    <td>500</td>
    <td>验收中</td>
    <td class="text-start">
        <p>确认功能是否符合预期。</p>
        <p>如果任务需要验收。</p>
<p>这个状态需要配合验收人使用。</p>
<p>此时，代码应该还处于开发仓库。</p>
<p>当验收通过时，</p>
<p>1. 第一种情况是，验收人负责合并代码到测试仓库，更改状态为待测试。</p>
<p>2. 第二种情况是，验收人只负责更改状态，测试人员或测试主管看到待测试状态后责合并代码。</p></td>
</tr>
<tr>
    <td></td>
    <td>510</td>
    <td>可验收</td>
    <td class="text-start">验收人可以进行验收了。</td>
</tr>


<tr>
    <th>测试区</th>
    <td>600</td>
    <td>测试中</td>
    <td class="text-start">QA 正在执行验证。</td>
</tr>
<tr>
    <td></td>
    <td>610</td>
    <td>可测试</td>
    <td class="text-start">放入 QA 的测试队列。</td>
</tr>
<tr>
    <td></td>
    <td>800</td>
    <td>已通过</td>
    <td class="text-start">
        <p>任务达到了一个可以预期的阶段。</p>
        <p>准许上线的绿灯信号。
运维人员应依据此状态进行上线确认。</p>
    </td>
</tr>

<tr>
    <th>终结区</th>
    <td>970</td>
    <td>废弃</td>
    <td class="text-start">
<p>本质上，废弃不应该是状态。</p>
<p>废弃是一种解决方案。有可能是对任务方案的修改。也有可能是某种原因导致的放弃。</p>
<p>保留这个状态，是为了标记单子的过程、表达一种心情。</p>
<p>应配合单子的反馈内容，当一个任务标记为废弃的时候，应该填写反馈。</p>
</td>
</tr>
<tr>
    <td></td>
    <td>999</td>
    <td>完成</td>
    <td class="text-start">
<ol>
<li>完成也可以理解为关闭的意思。</li>
<li>完成的任务是否可以再打开，取决于任务管理的规定，需要自行规定。</li>
</ol>

</td>
</tr>
</tbody>
</table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
        </div>
    </div>
</div>

</div>
