{{template "header.html" .}}</head><body>
{{template "nav.html" (dict "navtab" "manage" "authUser" .authUser )}}

<div class="container-fluid">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">项目管理</li>
    </ol>
</nav>
<hr />

</div>

<div class="container-fluid mb-3" id="searchform">
    <div class="row row-cols-lg-auto g-3 align-items-center">

<div class="col-12"><div class="input-group">
    <span class="input-group-text">状态</span>
    <select vtype="int" itag="val" name="search_state"
        class="form-select"
        onchange="_page( 1 );"
    >
<option value="0">正常</option>
<option value="1">归档</option>
<option value="-1">全部</option>
    </select>
</div></div>

<div class="col-12"><div class="input-group">
    <span class="input-group-text">名字</span>
    <input itag="val" name="name"
        type="text"
        class="form-control"
    />
</div></div>

<div class="col-12"><div class="input-group">
    <span class="input-group-text">时间</span>
    <input vtype="date2unix" itag="val" name="created_at0"
        type="date"
        class="form-control"
    />
    <input vtype="date2unix" itag="val" name="created_at9"
        type="date"
        class="form-control"
    />
</div></div>


<div class="col-12">
    <button class="btn btn-primary me-2" onclick="_page(1);">查询</button>
</div>


    </div>
</div>

<div class="container-fluid" id="data-table">
{{template "projects-content.html" .}}
</div>


{{template "footer.html" .}}
<script type="text/javascript">
var _currentPage = 1;
function _page(n) {
    if (n) {
        _currentPage = n;
    }
    const data = getFormData("#searchform");
    data.page = _currentPage;
    ajax("/project/search", data)
}

function _modify(id) {
    ajax("/project/modify/" + id)
}
function _del(id) {
    $.confirm({
        theme: "bootstrap",
        title: "删除项目",
        content: "确定要删除吗？",
        buttons: {
            cancel: {
                text: '取消',
                action: function () {
                }
            },
            confirm: {
                text: '确定',
                btnClass: 'btn-danger',
                action: function () {
                    ajax("/project/delete/" + id, {}, function(r) {
                        _page()
                        showSuccessToast("删除成功");
                    })
                }
            }
        }
    });
}
function _commit() {
    var data = getFormData("#edit-project-form")
    ajax("/project/save", data, function(r) {
        _page()
        $("#dialog").modal("hide");
        showMessage("保存成功");
    })
}

</script>
</body></html>
