<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">编辑项目</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
<div class="modal-body" id="edit-project-form">

<input type="hidden" name="id" value="{{.project.Id}}" />

<div class="mb-3">
    <label class="form-label">输入名称</label>
    <input class="form-control" type="text"
        value="{{.project.Name}}"
        name="name"
    />

    <div class="form-text text-danger">建议名字不要超过5个字。</div>

</div>

</div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            <button onclick="_commit()" type="button" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>