{{template "header.html" .}}
<style type="text/css">
.limited-text {
    max-width: 300px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}
</style>

<link href="/static/select2/select2.min.css" rel="stylesheet" />
<link href="/static/select2/select2-bootstrap-5-theme.min.css" rel="stylesheet" />

</head><body>
{{template "nav.html" (dict "navtab" "task" "authUser" .authUser )}}

<div class="container-fluid" id="taskfilter">
    <div class="row row-cols-lg-auto g-3 align-items-center mb-3">

<div class="col-12">

<div class="input-group">
    <div class="input-group-text">执行</div>
    <select vtype="int" itag="val" name="leader_dept"
        class="form-select" style="width: 80px;"
        value="{{.filter.LeaderDept}}"
        onchange="onChangePro(this, '#filterLeader');_taskList( 1 );"
    >
        <option value="0">部门</option>
{{template "selection_map.html" (dict "values" .props.department "selected" .filter.LeaderDept) }}
    </select>
    <select project_id="{{.filter.LeaderDept}}" id="filterLeader" vtype="int" itag="val" name="leader" class="form-select">
        <option value="{{.selectorLeader.Id}}" selected>{{.selectorLeader.Name}}</option>
    </select>
</div>

        </div>

        <div class="col-12">

<div class="input-group">
    <div class="input-group-text">验收</div>
    <select vtype="int" itag="val" name="checker_dept"
        class="form-select" style="width: 80px;"
        value="{{.filter.CheckerDept}}"
        onchange="onChangePro(this, '#filterChecker');_taskList( 1 );"
    >
        <option value="0">部门</option>
{{template "selection_map.html" (dict "values" .props.department "selected" .filter.CheckerDept) }}
    </select>
    <select project_id="{{.filter.CheckerDept}}" id="filterChecker" vtype="int" itag="val" name="checker" class="form-select">
        <option value="{{.selectorChecker.Id}}" selected>{{.selectorChecker.Name}}</option>
    </select>
</div>

        </div>

        <div class="col-12">
<div class="input-group">
    <div class="input-group-text">测试</div>
    <select vtype="int" itag="val" name="tester_dept"
        class="form-select" style="width: 80px;"
        value="{{.filter.TesterDept}}"
        onchange="onChangePro(this, '#filterTester');_taskList( 1 );"
    >
        <option value="0">部门</option>
{{template "selection_map.html" (dict "values" .props.department "selected" .filter.TesterDept) }}
    </select>
    <select project_id="{{.filter.TesterDept}}" id="filterTester" vtype="int" itag="val" name="tester" class="form-select">
        <option value="{{.selectorTester.Id}}" selected>{{.selectorTester.Name}}</option>
    </select>
</div>
        </div>

        <div class="col-12">
<div class="input-group">
    <div class="input-group-text">作者</div>
    <select vtype="int" itag="val" name="author_dept"
        class="form-select" style="width: 80px;"
        value="{{.filter.AuthorDept}}"
        onchange="onChangePro(this, '#filterAuthor' );_taskList( 1 );"
    >
        <option value="0">部门</option>
{{template "selection_map.html" (dict "values" .props.department "selected" .filter.AuthorDept) }}
    </select>
    <select project_id="{{.filter.AuthorDept}}" id="filterAuthor" vtype="int" itag="val" name="author" class="form-select">
        <option value="{{.selectorAuthor.Id}}" selected>{{.selectorAuthor.Name}}</option>
    </select>
</div>
        </div>

    </div>


    <div class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">

<div class="input-group">
    <div class="input-group-text"></div>
    <select id="filterProjects" vtype="int" itag="val" name="project" class="form-select">
<option value="{{.selectorProject.Id}}" selected="selected">{{.selectorProject.Name}}</option>
    </select>
    <select project_id="{{.selectorProject.Id}}" id="filterTags" itag="val" vtype="int" name="tag"
        class="form-select"
        value="{{.filter.Tag}}"
    >
        <option value="{{.selectorTag.Id}}" selected="selected">{{.selectorTag.Name}}</option>
    </select>
</div>

        </div>

        <div class="col-12"><div class="input-group">

<select  itag="val" vtype="int" name="caty"
    class="form-select"
    value="{{.filter.Caty}}"
    onchange="_taskList( 1 );"
>
    <option value="0">类型</option>
{{template "selection_map.html" (dict "values" .props.caty "selected" .filter.Caty) }}
</select>

        </div></div>

        <div class="col-12"><div class="input-group">

<select itag="val" vtype="int" name="status"
    class="form-select"
    value="{{.filter.Status}}"
    onchange="_taskList( 1 );"
>
    <option value="0">状态</option>
{{template "selection_map.html" (dict "values" .props.status "selected" .filter.Status) }}
</select>

        </div></div>

        <div class="col-12"><div class="input-group">
<select itag="val" vtype="int" name="priority"
    class="form-select"
    value="{{.filter.Priority}}"
    onchange="_taskList( 1 );"
>
    <option value="0">优先级</option>
{{template "selection_map.html" (dict "values" .props.priority "selected" .filter.Priority) }}
</select>

        </div></div>

<div class="col-12">
    <div class="input-group">
        <input itag="val" name="title"
            type="text"
            class="form-control"
            placeholder="标题模糊或精确ID"
            value="{{$.filter.Title}}"
            onkeydown="if(event.key==='Enter'){event.preventDefault();filter_title(this.value);}"
        />
    </div>
</div>

<div class="col-12"><div class="input-group">
<select itag="val" name="order_by"
    class="form-select"
    onchange="_taskList( 1 );"
>
    <option value="default">状态优先</option>
    <option value="news" {{if eq .filter.OrderBy "news"}}selected{{end}}>最新任务</option>
    <option value="tag" {{if eq .filter.OrderBy "tag"}}selected{{end}}>版本优先</option>
    <option value="created_at" {{if eq .filter.OrderBy "created_at"}}selected{{end}}>创建时间</option>
    <option value="end_at" {{if eq .filter.OrderBy "end_at"}}selected{{end}}>限期时间</option>
</select>
</div></div>

<div class="col-12"><div class="input-group">
<select vtype="int" itag="val" name="main_task"
    class="form-select"
    onchange="_taskList( 1 );"
>
    <option value="0">全部任务</option>
    <option value="1" {{if eq .filter.MainTask 1}}selected{{end}}>仅主任务</option>
</select>
</div></div>

<div class="col-12">
    <button class="btn btn-primary" onclick="_taskList(1);">
        <i class="fa-solid fa-rotate"></i> 刷新</button>
</div>


    </div>
</div>


<!-- 任务列表 -->
<div class="container-fluid" id="task-table">
{{template "task-list.html" . }}
</div>
<!-- 任务列表 结束-->

<!-- 批量修改 开始-->
<div class="container-fluid" id="batchModify">
    <div class="row row-cols-lg-auto g-3 align-items-center">

{{template "task-batch-modify.html" . }}

<div class="col-12">
    <button type="button" class="btn btn-danger" onclick="batchModify( _taskList );" >
        <i class="fa-solid fa-screwdriver-wrench"></i> 批量修改
    </button>
</div>

    </div>
</div>
<!-- 批量修改 结束-->

{{template "footer.html" .}}

<script type="text/javascript">
bodyWidth = "1850px";

function filter_title(val) {
    val = val.trim();
    if (val == "") {
        return;
    }
    const isId = val.match(/^[0-9]+$/);
    if (isId) {
        window.open("/task/thread/" + val);
        return
    }
    filter_result(1);
}

var _page = 1;
function _taskList( page ) {
    if (page) {
      _page = page;
    }
    let requestData = get_form_values( "taskfilter" );
    requestData.page = _page;

    $.ajax({
        url: '/task/list',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(requestData),
        dataType: 'json',
        success: handleResponse,
        error: function(xhr, status, error) {
            alert('操作失败: ' + error);
        }
    });
}

</script>

<script src="/static/tagselector.js?t=20260228"></script>
<script type="text/javascript">
$(document).ready(function() {
    setInterval( "_taskList();", 1000 * 60 * 5 );
    initProjectSelect2("#filterProjects", "#filterTags", true)

    initTagSelect2("/tag/selector", "#filterTags", true);
    initTagSelect2("/user/selector", "#filterLeader", true);
    initTagSelect2("/user/selector", "#filterChecker", true);
    initTagSelect2("/user/selector", "#filterTester", true);
    initTagSelect2("/user/selector", "#filterAuthor", true);

    initProjectSelect2("#batchModifyProjects", "#batchModifyTags", false)
    initTagSelect2("/tag/selector", "#batchModifyTags", false);
    initTagSelect2("/user/selector", "#batchModifyLeader", false);
    initTagSelect2("/user/selector", "#batchModifyChecker", false);
    initTagSelect2("/user/selector", "#batchModifyTester", false);
});
</script>

</body></html>
