<div class="col-12"><div class="input-group">
    <div class="input-group-text">归类</div>
<select id="batchModifyProjects" itag="val" vtype="int" name="project" class="form-select">
<option value="0">项目</option>
</select>
<select id="batchModifyTags"
class="form-select"
value="0"
itag="val" vtype="int" name="tag"
>
<option value="0" selected>版本</option>
</select>
</div></div>

<div class="col-12"><div class="input-group">
<div class="input-group-text">执行</div>
<select itag="val" vtype="int" name="leader_dept"
class="form-select" style="width: 80px;"
value="0"
onchange="onFirstSelect(this, '#batchModifyLeader' );"
>
<option value="0">部门</option>
{{template "selection_map.html" (dict "values" .props.department "selected" 0) }}
</select>
<select id="batchModifyLeader"
class="form-select"
itag="val" vtype="int" name="leader"
value="0"
>
<option value="0">成员</option>
</select>
</div></div>

<div class="col-12"><div class="input-group">
<div class="input-group-text">验收</div>
<select itag="val" vtype="int" name="checker_dept"
class="form-select" style="width: 80px;"
value="0"
onchange="onFirstSelect(this, '#batchModifyChecker' );"
>
<option value="0">部门</option>
{{template "selection_map.html" (dict "values" .props.department "selected" 0) }}
</select>
<select id="batchModifyChecker"
class="form-select"
itag="val" vtype="int" name="checker"
>
<option value="0">成员</option>
</select>
</div></div>

<div class="col-12"><div class="input-group">
<div class="input-group-text">测试</div>
<select itag="val" vtype="int" name="tester_dept"
class="form-select" style="width: 80px;"
onchange="onFirstSelect(this, '#batchModifyTester' );"
>
<option value="0">部门</option>
{{template "selection_map.html" (dict "values" .props.department "selected" 0) }}
</select>
<select id="batchModifyTester"
class="form-select"
itag="val" vtype="int" name="tester"
>
<option value="0">成员</option>
</select>
</div></div>

<div class="col-12"><div class="input-group">

<select
class="form-select"
value="0"
itag="val" vtype="int" name="caty"
>
<option value="0">类型</option>
{{template "selection_map.html" (dict "values" .props.caty "selected" 0) }}
</select>

</div></div>

<div class="col-12"><div class="input-group">

<select
class="form-select"
value="0"
itag="val" vtype="int" name="status"
>
<option value="0">状态</option>
{{template "selection_map.html" (dict "values" .props.status "selected" 0) }}
</select>

</div></div>

<div class="col-12"><div class="input-group">
<select
class="form-select"
value="0"
itag="val" vtype="int" name="priority"
>
<option value="0">优先级</option>
{{template "selection_map.html" (dict "values" .props.priority "selected" 0) }}
</select>
<input type="text" class="form-control" itag="val" vtype="int" name="level" value="0" />

</div></div>

