{{template "header.html" .}}

</head><body>
{{template "nav.html" (dict "navtab" "task" "authUser" .authUser )}}

<div class="container-fluid">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">

{{if gt .task.Id 0}}
<li class="breadcrumb-item"><a href="/task/thread/{{.task.Id}}">#{{.task.Id}} {{.task.Title}}</a></li>
<li class="breadcrumb-item active" aria-current="page">创建子任务</li>
{{else}}
<li class="breadcrumb-item">任务管理</li>
<li class="breadcrumb-item active" aria-current="page">新建任务</li>
{{end}}
    </ol>
</nav>
<hr />

{{if gt .task.Id 0}}
<div class="alert alert-danger" role="alert">
复制父任务创建子任务，要注意修改信息。
<ol>
    <li><b>状态，负责人</b> 是必填项。</li>
    <li><b>标题，内容</b> 根据情况自行修改。</li>
    <li>子任务内容可留空，将继承主任务内容。</li>
</ol>

</div>
{{end}}

</div>



<div class="container-fluid" id="task-add-form">
<input vtype="int" type="hidden" name="pid" value="{{.task.Id}}" />

<div id="taskfilter">

<div class="row row-cols-lg-auto g-3 align-items-center mb-2">

<div class="col-12"><div class="input-group">
  <span class="input-group-text">标题</span>
  <input type="text" class="form-control" value="{{if eq .task.Title ""}}【一级模块】“二级模块”简要描述{{else}}{{.task.Title}}{{end}}" name="title" style="width: 800px;" />
</div></div>

<div class="col-12"><div class="input-group">

<select vtype="int"  itag="val" name="caty"
    class="form-select"
    value="{{.task.Caty}}"
>
    <option value="0">类型</option>
{{template "selection_map.html" (dict "values" .props.caty "selected" .task.Caty) }}
</select>

</div></div>

<div class="col-12"><div class="input-group">
<select vtype="int" itag="val" name="priority"
    class="form-select"
    value="{{.task.Priority}}"
    onchange="_task_priority_change(this.value)"
>
    <option value="0">优先级</option>
{{template "selection_map.html" (dict "values" .props.priority "selected" .task.Priority) }}
</select>
<input vtype="int" type="number" class="form-control" itag="val" name="level" value="{{.task.Level}}" />
<span class="input-group-text" onclick="_task_priority_change(99999)"><i class="fa-solid fa-circle-question"></i></span>

</div></div>

</div>
<div class="row row-cols-lg-auto g-3 align-items-center mb-2">

<div class="col-12"><div class="input-group">
    <div class="input-group-text"></div>
    <select id="filterProjects" vtype="int" itag="val" name="project" class="form-select">
<option value="{{.selectorProject.Id}}" selected>{{.selectorProject.Name}}</option>
    </select>
    <select project_id="{{.selectorProject.Id}}" vtype="int" id="filterTags" itag="val" name="tag" class="form-select">
<option value="{{.selectorTag.Id}}" selected>{{.selectorTag.Name}}</option>
    </select>
</div></div>

<div class="col-12"><div class="input-group">
    <!-- 创建新任务，必须选择手动选择部门 复制的任务也需要手动选择部门-->
    <div class="input-group-text">执行</div>
    <select vtype="int" itag="val" name="leader_dept"
        class="form-select" style="width: 80px;"
        onchange="onChangePro(this, '#filterLeader');"
    >
        <option value="0">部门</option>
{{template "selection_map.html" (dict "values" .props.department "selected" .task.LeaderDept) }}
    </select>
    <select project_id="{{.task.LeaderDept}}" vtype="int" id="filterLeader" itag="val" name="leader"
        class="form-select"
    >
<option value="{{.leader.Id}}" selected>{{.leader.Name}}</option>
    </select>
</div></div>

<div class="col-12"><div class="input-group">
    <div class="input-group-text">验收</div>
    <select vtype="int" itag="val" name="checker_dept"
        class="form-select" style="width: 80px;"
        onchange="onChangePro(this, '#filterChecker');"
    >
        <option value="0">部门</option>
{{template "selection_map.html" (dict "values" .props.department "selected" .task.CheckerDept) }}
    </select>
    <select project_id="{{.task.CheckerDept}}" vtype="int" id="filterChecker" itag="val" name="checker"
        class="form-select"
    >
<option value="{{.checker.Id}}" selected>{{.checker.Name}}</option>
    </select>
</div></div>

<div class="col-12"><div class="input-group">
    <div class="input-group-text">测试</div>
    <select vtype="int" itag="val" name="tester_dept"
        class="form-select" style="width: 80px;"
        onchange="onChangePro(this, '#filterTester');"
    >
        <option value="0">部门</option>
{{template "selection_map.html" (dict "values" .props.department "selected" .task.TesterDept) }}
    </select>
    <select project_id="{{.task.TesterDept}}" vtype="int" id="filterTester" itag="val" name="tester"
        class="form-select"
        value="{{.task.Tester}}"
    >
<option value="{{.tester.Id}}" selected>{{.tester.Name}}</option>
    </select>

</div></div>

</div>
<div class="row row-cols-lg-auto g-3 align-items-center">

<div class="col-12"><div class="input-group">
    <div class="input-group-text">时间</div>
    <input vtype="date2unix" value="{{.task.StartAt | unixToDay}}" type="date" class="form-control" name="start_at" />
    <input vtype="date2unix" value="{{.task.EndAt | unixToDay}}" type="date" class="form-control" name="end_at" />
    <input vtype="date2unix" value="{{.task.ActualAt | unixToDay}}" type="date" class="form-control" name="actual_at" />
</div></div>

<div class="col-12"><div class="input-group">
<!-- 创建新任务 默认状态是300 -->
<select vtype="int" itag="val" name="status"
    class="form-select"
    value="{{.task.Status}}"
>
    <option value="0">状态</option>
{{template "selection_map.html" (dict "values" .props.status "selected" 12) }}
</select>
<span class="input-group-text" onclick="$('#modal-status-tips').modal('show')"><i class="fa-solid fa-circle-question"></i></span>
</div></div>

    </div>
</div>
<!-- 快速修改 -->

        <hr />

<textarea id="task-content" name="content">{{if gt .task.Id 0}}~内容将继承主任务~{{end}}</textarea>


<div class="mt-3"></div>
<div class="d-grid">
<button type="button" class="btn btn-danger btn-lg" onclick="_save()">
    <i class="fa-solid fa-floppy-disk"></i> 保存修改 </button>
</div>

</div>


{{template "footer.html" .}}

{{template "priority-tips.html"}}
{{template "help-status.html"}}

<script type="text/javascript">

$(document).ready(function() {
    initEditor("#task-content", false, 600);
});

var _isSubmitting = false;

function _save() {
    if (_isSubmitting) {
        return;
    }
    _isSubmitting = true;
    //五秒后解除
    setTimeout(function() {
        _isSubmitting = false;
    }, 5000);

    var data = getFormData("#task-add-form")

    if (data.start_at > data.end_at) {
        return showErrorToast("开始时间不能大于结束时间")
    }

    //子任务不检查
    if (data.pid == 0 && data.content.length < 10) {
        return $.alert({
            title: '提示信息',
            content: "<p>内容字数太少，不容易描述清楚问题。</p><p><br /></p><p>【问题描述】</p><p>详细描述 需求/BUG 的具体情况，包括：</p> <p>1. 什么情况下出现该问题</p> <p>2. 具体的操作步骤</p> <p>3. 实际结果</p> <p>4. 预期结果</p> <p><br></p> <p>【复现步骤】</p> <p>1. 进入...页面</p> <p>2. 点击...按钮</p> <p>3. 输入...信息</p> <p>4. 观察到...现象</p> <p><br></p> <p>【截图或视频】</p> <p>（可在此处上传问题截图或录屏）</p> <p><br></p><p>【附加信息】</p> <p>其他可能有助于问题排查的信息</p>",
            type: 'red',
        });
    }
    if (data.content.indexOf("data:image/png;base64") >= 0) {
        return showErrorToast('不正确的图片格式，不要从word、有道等软件中直接粘贴过来，建议使用ctl+shift+v');
    }
    if (data.content.indexOf('yne-bulb-block') >= 0) {
        return showErrorToast('不要从word、有道等软件中直接粘贴过来，使用ctl+shift+v')
    }

    const titleCharCount = Array.from(data.title).length;
    if (titleCharCount < 10) {
        return $.alert({
            title: '提示信息',
            content: "<p>标题字数不少于10字。</p><p>优秀示例：【一级模块】“二级模块”简要描述</p>",
            type: 'red',
        });
    }
    if (titleCharCount > 50) {
        return $.alert({
            title: '提示信息',
            content: "<p>标题字数太长，请在内容里详细描述。</p>",
            type: 'red',
        });
    }

    if (data.project == 0) {
        return showErrorToast("请选择项目")
    }
    if (data.tag == 0) {
        return showErrorToast("请选择版本")
    }
    if (data.leader * data.checker * data.tester == 0) {
        return showErrorToast("请选择执行成员")
    }

    if (data.caty == 0) {
        return showErrorToast("请选择类型")
    }
    if (data.priority == 0) {
        return showErrorToast("请选择优先级")
    }
    if (data.status == 0) {
        return showErrorToast("请选择状态")
    }

    ajax("/task/save", data, function(r) {
        window.location.href = "/task/thread/" + r.id;
    })
}


$(document).ready(function() {
    initProjectSelect2("#filterProjects", "#filterTags", false)
    initTagSelect2("/tag/selector", "#filterTags", false);
    initTagSelect2("/user/selector", "#filterLeader", false);
    initTagSelect2("/user/selector", "#filterChecker", false);
    initTagSelect2("/user/selector", "#filterTester", false);
});

</script>

</body></html>

