{{template "header.html" .}}

</head><body>
{{template "nav.html" (dict "navtab" "task" "authUser" .authUser )}}

<div class="container-fluid">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">任务管理</li>
        <li class="breadcrumb-item active" aria-current="page">#{{.task.Id}} <span class="task-title">{{.task.Title}}</span></li>
    </ol>
</nav>
<hr />
</div>

<div class="container-fluid" id="related-tasks">
<!-- 关联任务 -->
{{if gt (len .tasks) 1}}
{{template "task-related.html" .}}
{{end}}
</div>

<div class="container-fluid">

<div class="card mt-3 mb-3">
<div class="card-header d-flex align-items-center">
    <div onclick="$('#task-detail').toggle();"><b>#{{.task.Id}} <span class="task-title">{{.task.Title}}</span></b></div>
    <div class="ms-auto">
        <button
            class="btn btn-link "
            onclick="_modify_task()"
        >
        <i class="fa-solid fa-pen-to-square"></i>
            编辑
        </button>

        <a
            class="btn btn-link ms-2"
            href="/task/new/{{.task.Id}}"
            data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="复制内容，创建子任务"
        >
            <i class="fa-solid fa-clone"></i>
            复制
        </a>


        <button
            class="btn btn-link ms-2"
            onclick="$('#dialog-addrelated').modal('show');"
        >
        <i class="fa-solid fa-magnet"></i>
            关联
        </button>

        <a
            class="btn btn-link ms-2"
            href="#new-comment-anchor"
        >
            <i class="fa-solid fa-message"></i> 回复
        </a>

        <button
            class="btn btn-link ms-2"
            onclick="ajax('/task/log/{{.task.Id}}')"
        >
            <i class="fa-solid fa-calendar-days"></i>日志
        </button>

    </div>
</div>

<div id="task-detail">

<div class="card-body" id="task-modify-form">
<p><i>
<span class="me-5">作者：{{.author.Name}} ({{.task.CreatedAt | formatDate}} <span class="text-primary">{{.task.CreatedAt | SecondsToTime}}</span> )
</span><span id="task-last-modify">修改：{{.editor.Name}} ({{.task.UpdatedAt | formatDate}})
</span>
</i></p>
<hr />

<!-- 快速修改-->
<div>
<div class="row row-cols-lg-auto g-3 align-items-center">

<div class="col-12"><div class="input-group">
<span class="input-group-text">标题</span>
<input type="text" class="form-control" value="{{.task.Title}}" name="title" style="width: 800px;" />
</div></div>

<div class="col-12"><div class="input-group">

<select  vtype="int" itag="val" name="caty"
class="form-select"
value="{{.task.Caty}}"
>
{{template "selection_map.html" (dict "values" .props.caty "selected" .task.Caty) }}
</select>

</div></div>

<div class="col-12"><div class="input-group">
<select vtype="int" itag="val" name="priority"
class="form-select"
value="{{.task.Priority}}"
onchange="_task_priority_change(this.value)"
>
{{template "selection_map.html" (dict "values" .props.priority "selected" .task.Priority) }}
</select>
<input vtype="int" type="number" class="form-control" itag="val" name="level" value="{{.task.Level}}" />
<span class="input-group-text" onclick="_task_priority_change(99999)"><i class="fa-solid fa-circle-question"></i></span>
</div></div>

</div>

<div class="row row-cols-lg-auto g-3 align-items-center mt-2">

<div class="col-12"><div class="input-group">
<div class="input-group-text">归类</div>
<select id="filterProjects" vtype="int" itag="val" name="project" class="form-select">
<option value="{{.selectorProject.Id}}" selected="selected">{{.selectorProject.Name}}</option>
</select>
<select project_id="{{.selectorProject.Id}}" vtype="int" id="filterTags" itag="val" name="tag"
    class="form-select"
    value="{{.task.Tag}}"
>
<option value="{{.selectorTag.Id}}" selected="selected">{{.selectorTag.Name}}</option>
</select>

</div></div>

<div class="col-12"><div class="input-group">
<div class="input-group-text">执行</div>
<select vtype="int" itag="val" name="leader_dept"
    class="form-select" style="width: 80px;"
    value="{{.task.LeaderDept}}"
    onchange="onFirstSelect(this, '#filterLeader' );"
>
{{template "selection_map.html" (dict "values" .props.department "selected" .task.LeaderDept) }}
</select>
<select project_id="{{.task.LeaderDept}}" vtype="int" id="filterLeader" itag="val" name="leader"
    class="form-select"
>
<option value="{{.leader.Id}}" selected>{{.leader.Name}}</option>
</select>
</div></div>

<div class="col-12"><div class="input-group">
<div class="input-group-text">验收</div>
<select vtype="int" itag="val" name="checker_dept"
    class="form-select" style="width: 80px;"
    value="{{.task.CheckerDept}}"
    onchange="onFirstSelect(this, '#filterChecker' );"
>
<option value="0">部门</option>
{{template "selection_map.html" (dict "values" .props.department "selected" .task.CheckerDept) }}
</select>
<select project_id="{{.task.CheckerDept}}" vtype="int" id="filterChecker" itag="val" name="checker"
    class="form-select"
>
<option value="{{.checker.Id}}" selected>{{.checker.Name}}</option>
</select>
</div></div>

<div class="col-12"><div class="input-group">
<div class="input-group-text">测试</div>
<select vtype="int" itag="val" name="tester_dept"
    class="form-select" style="width: 80px;"
    value="{{.task.TesterDept}}"
    onchange="onFirstSelect(this, '#filterTester' );"
>
<option value="0">部门</option>
{{template "selection_map.html" (dict "values" .props.department "selected" .task.TesterDept) }}
</select>
<select project_id="{{.task.TesterDept}}" vtype="int" id="filterTester" itag="val" name="tester"
    class="form-select"
>
<option value="{{.tester.Id}}" selected>{{.tester.Name}}</option>
</select>

</div></div>

</div>

<div class="row row-cols-lg-auto g-3 align-items-center mt-2">

<div class="col-12"><div class="input-group">
<div class="input-group-text">时间</div>
<input vtype="date2unix" value="{{.task.StartAt | unixToDay}}" type="date" class="form-control" name="start_at" />
<input vtype="date2unix" value="{{.task.EndAt | unixToDay}}" type="date" class="form-control" name="end_at" />
<input vtype="date2unix" value="{{.task.ActualAt | unixToDay}}" type="date" class="form-control" name="actual_at" />
</div></div>

<div class="col-12"><div class="input-group">
<select vtype="int" itag="val" name="status"
class="form-select"
value="{{.task.Status}}"
>
{{template "selection_map.html" (dict "values" .props.status "selected" .task.Status) }}
</select>
<span class="input-group-text" onclick="$('#modal-status-tips').modal('show')"><i class="fa-solid fa-circle-question"></i></span>
</div></div>

<div class="col-12">
<button class="btn btn-danger" onclick="_fast_modify()">
<i class="fa-solid fa-floppy-disk"></i> 一键保存
</button>
</div>

</div>


<div class="edit-buttons mt-3" style="display: none;">
<button class="btn btn-danger" onclick="_fast_modify()">
<i class="fa-solid fa-floppy-disk"></i> 保存
</button>
<button class="btn btn-secondary ms-2" onclick="_modify_task()">
<i class="fa-solid fa-ban"></i> 取消
</button>
</div>
</div>
<!-- 快速修改 -->


    <hr />
<div id="task-content">{{.task.Content|html}}</div>

</div><!-- card-body -->

<div class="card-footer edit-buttons" style="display: none;">
<button class="btn btn-danger" onclick="_fast_modify()">
    <i class="fa-solid fa-floppy-disk"></i> 保存
</button>
<button class="btn btn-secondary ms-2" onclick="_modify_task()">
    <i class="fa-solid fa-ban"></i> 取消
</button>
</div><!-- card-footer -->

</div><!-- task-detail -->



</div><!--card-->

{{if gt .task.Pid  0}}
<div class="card mt-3">
<div class="card-header">
    <span class="badge text-bg-warning">主任务<b> <a target="_blank" href="/task/thread/{{.maintask.Id}}">#{{.maintask.Id}} {{.maintask.Title}}</a></b></span>
</div>

<div class="card-body">
{{.maintask.Content|html}}
</div>

</div>
{{end}}




<!-- 反馈 -->
<div id="comments">
{{range $index, $comment := .comments}}
    {{template "comment-one.html" (dict "index" $index "comment" $comment "users" $.users)}}
{{end}}
</div>
<!-- 反馈 end -->


<!-- 添加反馈 -->
<hr id="new-comment-anchor">

<blockquote><p class="text-primary">在下面提交完成情况、测试反馈、其他意见......</p></blockquote>
<div id="new-comment-form">
<input vtype="int" type="hidden" name="task_id" value="{{.task.Id}}">

<textarea id="new-comment-editor" name="content"></textarea>
<div class="mt-3"></div>
<div class="d-grid">
<button type="button" class="btn btn-danger btn-lg" onclick="_commit_new_comment()">
    <i class="fa-solid fa-floppy-disk"></i> 提交反馈 </button>
</div>


</div>
<!-- 添加反馈 end -->

    <div class="mt-3"></div>
</div>

<div class="modal" id="dialog-addrelated" tabindex="-1" aria-hidden="true">

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">关联到</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="related-to-form">
            <p>输入要关联到的ID。可以是其他的任务ID。如果对方是子任务，将自动关联到其主任务。</p>
            <p>此行为会将这个单子进行重新关联。原有的关联也会取消。</p>
            <p>输入0表示不做关联。</p>

            <input vtype="int" type="hidden" name="task_id" value="{{.task.Id}}">
            <input vtype="int" name="related_id" class="form-control form-control-lg" value="0" type="number" />

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <button onclick="_related_to()" type="button" class="btn btn-primary">提交</button>
        </div>
    </div>
</div>

</div>


{{template "footer.html" .}}
{{template "help-status.html"}}
{{template "priority-tips.html"}}

<script type="text/javascript">
var task = {{.task | json}};

$(document).ready(function() {
    initEditor("#new-comment-editor");
});


function _related_to() {
    var data = getFormData("#related-to-form");
    ajax("/task/relatedto", data, function(r) {
        $('#dialog-addrelated').modal('hide');
        _set_related();
    })
}

function _commit_new_comment( ) {
    const editorid = "#new-comment-editor"
    var jsonData = getFormData('#new-comment-form');
    if ($(editorid).val() == '') {
        showErrorToast('请输入反馈内容')
        return;
    }
    if (jsonData.content == '') {
        showErrorToast('请输入反馈内容')
        return;
    }

    if (jsonData.content.indexOf("data:image/png;base64") >= 0) {
        showErrorToast('不正确的图片格式，不要从word、有道等软件中直接粘贴过来，建议使用ctl+shift+v');
        return ;
    }

    if (jsonData.content.indexOf('yne-bulb-block') >= 0) {
        showErrorToast('不要从word、有道等软件中直接粘贴过来，使用ctl+shift+v')
        return ;
    }

    ajax("/comment/save", jsonData, function(r) {
        showSuccessToast('提交成功')
        $('#comments').append(r.content);
        $(editorid).summernote('reset');
    })
}

function _set_related() {
    ajax("/task/related/{{.task.Id}}", {}, function(r) {
        _initBatchModifyTags()
    })
}


var _status_modify_task = false
function _modify_task() {
    if (_status_modify_task) {
        $('#task-content').summernote('destroy');
    } else {
        initEditor( '#task-content', true, 300 )
    }
    $('.edit-buttons').toggle();
    _status_modify_task = !_status_modify_task;
}


function _fast_modify() {
    var jsonData = getFormData("#task-modify-form");

    if (_status_modify_task) {
        var markup = $('#task-content').summernote('code');
        jsonData.content = markup;
    }


    //对比旧数据，如果无变化则不提交，对比所有字段
    for (var k in task) {
        //判断jsonData中是否有k字段
        if (!jsonData.hasOwnProperty(k)) {
            continue;
        }
        if (jsonData[k] == task[k]) {
            delete jsonData[k];
        }
    }
    if (Object.keys(jsonData).length == 0) {
        return showErrorToast('没有修改任何数据')
    }

    jsonData.id = task.id;
    jsonData.lockn = task.lockn + 1;

    ajax("/task/save", jsonData, function(r) {
        showSuccessToast('保存成功')

        if (_status_modify_task) {
            _modify_task()//关闭编辑
        }

        //新值覆盖旧值
        for (var k in jsonData) {
            task[k] = jsonData[k];
        }

        $(".task-title").html(jsonData.title);
        let iname = $("#iname").html();
        let date = new Date();
        $('#task-last-modify').html(`修改：${iname} (${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()})`)
    })
}

var _modify_comment_id = 0
function _modify_comment(id) {
    let isnew = false
    if (_modify_comment_id > 0) {
        //关闭旧的编辑
        $('#comment-content-' + _modify_comment_id).summernote('destroy');
        $('#edit-comment-buttons-' + _modify_comment_id).toggle();

        if (id != _modify_comment_id) {
            isnew = true
        }
    } else {
        isnew = true
    }

    if (isnew) {
        _modify_comment_id = id
        initEditor( '#comment-content-' + id, true, 200 )
        $('#edit-comment-buttons-' + id).toggle();
    } else {
        _modify_comment_id = 0
    }
}

function _commit_comment(id) {
    var c = $('#comment-content-' + id).summernote( 'code' );

    if (c == '') {
        showErrorToast('请输入反馈内容')
        return;
    }

    if (c.indexOf("data:image/png;base64") >= 0) {
        showErrorToast('不正确的图片格式，不要从word、有道等软件中直接粘贴过来，建议使用ctl+shift+v')
        return ;
    }

    if (c.indexOf('yne-bulb-block') >= 0) {
        showErrorToast('不要从word、有道等软件中直接粘贴过来，使用ctl+shift+v')
        return ;
    }

    ajax("/comment/save", {
        id : id,
        content : c
    }, function(r) {
        showSuccessToast('保存成功')

        _modify_comment(id)//关闭编辑

        let iname = $("#iname").html();
        let date = new Date();
        $('#comment-last-modify-'+id).html(`修改：${iname} (${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()})`)
    })
}
</script>

<script type="text/javascript">
function _initBatchModifyTags() {
    initProjectSelect2("#batchModifyProjects", "#batchModifyTags", false)
    initTagSelect2("/tag/selector", "#batchModifyTags", false);
    initTagSelect2("/user/selector", "#batchModifyLeader", false);
    initTagSelect2("/user/selector", "#batchModifyChecker", false);
    initTagSelect2("/user/selector", "#batchModifyTester", false);
}
$(document).ready(function() {
    initProjectSelect2("#filterProjects", "#filterTags", false)
    initTagSelect2("/tag/selector", "#filterTags", false);
    initTagSelect2("/user/selector", "#filterLeader", false);
    initTagSelect2("/user/selector", "#filterChecker", false);
    initTagSelect2("/user/selector", "#filterTester", false);
    _initBatchModifyTags()
});
</script>

</body></html>

