<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">编辑用户</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="user-edit-form">
<input vtype="int" type="hidden" name="id" value="{{.user.Id}}" />

<div class="row g-3">

<div class="col-md-4">
    <label class="form-label">帐号</label>
    <input name="account" value="{{.user.Account}}" class="form-control" type="text"  />
</div>

<div class="col-md-4">
    <label class="form-label">姓名</label>
    <input name="name" value="{{.user.Name}}" class="form-control" type="text"  />
</div>

<div class="col-md-4">
    <label class="form-label">花名</label>
    <input name="nick" value="{{.user.Nick}}" class="form-control" type="text"  />
</div>

<div class="col-md-4">
    <label class="form-label">部门</label>
    <select vtype="int" name="department"
        class="form-select"
        value="{{.user.Department}}"
    >
        <option value="0">部门</option>
{{template "selection_map.html" (dict "values" .departments "selected" .user.Department) }}
    </select>
</div>

<div class="col-md-4">
    <label class="form-label">工作组</label>
    <input vtype="int" name="team" value="{{.user.Team}}" class="form-control" type="number"  />
</div>

<div class="col-md-4">
    <label class="form-label">权限组</label>
    <select vtype="int" name="ps"
        class="form-select"
        value="{{.user.Ps}}"
    >
{{template "selection_map.html" (dict "values" .psGroups "selected" .user.Ps) }}
    </select>
</div>

</div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            <button onclick="_commit()" type="button" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>