{{template "header.html" .}}</head><body>
{{template "nav.html" (dict "navtab" "manage" "authUser" .authUser )}}

<div class="container-fluid">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">成员管理</li>
    </ol>
</nav>
<hr />
</div>

<div class="container-fluid mb-3" id="searchform">
    <div class="row row-cols-lg-auto g-3 align-items-center">

<div class="col-12"><div class="input-group">
    <span class="input-group-text">状态</span>
    <select vtype="int" itag="val" name="search_state"
        class="form-select"
        onchange="_page( 1 );"
    >
<option value="0">正常</option>
<option value="1">离职</option>
<option value="-1">全部</option>
    </select>
</div></div>

<div class="col-12"><div class="input-group">
    <span class="input-group-text">部门</span>
    <select vtype="int" itag="val" name="department"
        class="form-select"
        onchange="_page( 1 );"
    >
        <option value="0">全部</option>
{{template "selection_map.html" (dict "values" .departments "selected" 0) }}
    </select>
</div></div>

<div class="col-12"><div class="input-group">
    <span class="input-group-text">姓名</span>
    <input itag="val" name="name"
        type="text"
        class="form-control"
    />
</div></div>

<div class="col-12"><div class="input-group">
    <span class="input-group-text">花名</span>
    <input itag="val" name="nick"
        type="text"
        class="form-control"
    />
</div></div>

<div class="col-12"><div class="input-group">
    <span class="input-group-text">时间</span>
    <input vtype="date2unix" itag="val" name="created_at0"
        type="date"
        class="form-control"
    />
    <input vtype="date2unix" itag="val" name="created_at9"
        type="date"
        class="form-control"
    />
</div></div>


<div class="col-12">
    <button class="btn btn-primary me-2" onclick="_page(1);">查询</button>
</div>


    </div>
</div>

<div class="container-fluid" id="data-table">
{{template "users-content.html" .}}
</div>


{{template "footer.html" .}}
<script type="text/javascript">
var _currentPage = 1;

//翻页
function _page(n) {
    if (n) {
        _currentPage = n;
    }
    const data = getFormData("#searchform");
    data.page = _currentPage;
    ajax("/user/search", data)
}

function _modify(id) {
    ajax("/user/modify/" + id)
}
function _del(id) {
    if (!confirm("确定要删除吗？")) {
        return;
    }
    ajax("/user/deleteform/" + id)
}
function _commit() {
    var data = getFormData("#user-edit-form")
    ajax("/user/save", data, function(r) {
        _page();
        $("#dialog").modal("hide");
        showSuccessToast("保存成功");
    })
}
function _deleteUser() {
    var data = getFormData("#delete-user-form")
    ajax("/user/delete", data, function(r) {
        _page();
        $("#dialog").modal("hide");
        showSuccessToast("删除成功");
    })
}
</script>


</body></html>
