<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">修改</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="user-edit-form">

<div class="row g-3">

<div class="col-md-4">
    <label class="form-label">帐号</label>
    <input value="{{.user.Account}}" class="form-control" type="text" disabled  />
</div>

<div class="col-md-4">
    <label class="form-label">姓名</label>
    <input value="{{.user.Name}}" disabled class="form-control" type="text"  />
</div>

<div class="col-md-4">
    <label class="form-label">花名</label>
    <input value="{{.user.Nick}}" name="nick" class="form-control" type="text"  />
</div>

<div class="col-md-4">
    <label class="form-label">部门</label>
    <select disabled class="form-select">
        <option value="0">部门</option>
{{template "selection_map.html" (dict "values" .departments "selected" .user.Department) }}
    </select>
</div>

<div class="col-md-4">
    <label class="form-label">工作组</label>
    <input disabled value="{{.user.Team}}" class="form-control" type="number"  />
</div>

<div class="col-md-12">
    <label class="form-label">密码</label>
    <input name="password" class="form-control" type="text" placeholder="留空不修改"  />
</div>

<div class="col-md-12">
    <label class="form-label">权限组</label>
    <input disabled value="{{range $index, $ps := .user.PsGroup}}{{(index $.psGroups $ps).Name}} {{end}}" class="form-control"  />
</div>


</div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            <button onclick='ajax("/user/imodify", getFormData("#user-edit-form"), function() {$("#dialog").modal("hide")})' type="button" class="btn btn-primary">提交</button>
        </div>
    </div>
</div>
